/* GLOBAL CONTAINERS */
body{}
#page{ position: relative; width: 100%; background-color: #333}
.header{ position: relative;}
.content{ background-color: #fff; padding-bottom: 40px; }
#footer{ background-color: #000; padding: 30px 0 40px;}

/* GLOBAL ELEMENTS */
.form-control{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}

/* GLOBAL > HEADER */
.header .imgcontainer { width: 100%; height: 100%; position: absolute; bottom: 0; left: 0; overflow: hidden; background-size: cover; background-position: center;  }
.header .gradientOverlay { width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden;  }
.header .nav { position: fixed; width: 100%; background: transparent; z-index: 160; }
.header .nav .row:first-child{ border-bottom-color: rgba(255, 255, 255, 0.10); border-bottom-style: solid; border-bottom-width: 1px;}
.header .headercontent{ padding-top: 80px; position: relative;}
@media (min-width: 992px) {
    .header .nav { position: relative; z-index: 140;}
    .header .nav .row:first-child{ height: 80px;}
    .header .headercontent{ padding-top: 0;}
    .header .imgcontainer{background-size: contain;}
}

/* GLOBAL > HEADER > LOGO */
.header .nav #logo{float: left; width: 100%;}
.header .nav #logo a{display: block; height: 42px; width: 160px; margin: 10px auto;}
.header .nav #logo a img{float: left; width: 160px; margin-top: 9px; height: auto;}
@media (min-width: 992px) {
    .header .nav #logo a{ margin: 12px 0; width: 220px;}
    .header .nav #logo a img{ width: 220px; margin-top: 14px;}
}

/* GLOBAL > HEADER > MENU */
.header .nav #menu{ position: relative;}
.header .nav #menu #menu-ico{ display: block; margin: 17px 0 0 0;  float: left; background: #fff; width: 30px; height: 30px; background: url(../imgs/menu-ico.png) no-repeat center center; background-size: 75%; }
.header .nav #menu #menu-ico.active{ background: url(../imgs/menu-ico-fechar.png) no-repeat center center; background-size: 50%;}
@media (min-width: 992px) {
    .header .nav #menu #menu-ico{ float: right; margin-top: 28px; position: relative; background-size: 65%;}
}
.header .nav #menu ul{ position: fixed; overflow: auto; top: 0; left: -238px; display: none; width: 238px; height: 100%; z-index: 10; margin: 0; padding: 0; border-right: 2px solid #e1e2e0; background-color: #f8f9f7; opacity:0;}
.header .nav #menu ul li{ list-style-type: none; margin: 0; padding: 0; }
.header .nav #menu ul li a{ background-color: #f8f9f7; font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 25px; color: #666; display: block; height: 62px; margin:0; padding: 18px 0 0 0; border-bottom: solid 1px #d3d4d2;  border-right: solid 15px #f8f9f7;  border-left: solid 15px #f8f9f7; }
.header .nav #menu ul li.central a{ line-height: 15px;}
.header .nav #menu ul li a span{ display: block; width: 21px; height: 24px; overflow: hidden; margin: 0 15px 15px 0; background: url(../imgs/menu-ico-familia.png) no-repeat left top; float: left; background-size: 42px;}
.header .nav #menu ul li.home a{ background: url(../imgs/simbolo-ic.png) #f8f9f7 no-repeat 0 20px; background-size: 33px; }
.header .nav #menu ul li.quemsomos a span{ background-position-y: -73px;}
.header .nav #menu ul li.seuevento a span{ background-position-y: -49px;}
.header .nav #menu ul li.chat a span{ background-position-y: 0;}
.header .nav #menu ul li.central a span{ background-position-y: -25px;}
.header .nav #menu ul li a:hover{ color: #fff; background-color: #73cfff; border-left: solid 15px #73cfff; border-right: solid 15px #73cfff; text-decoration: none;}
.header .nav #menu ul li.home a:hover{ background-color: #f8f9f7; border-left: solid 15px #f8f9f7; border-right: solid 15px #f8f9f7; }
.header .nav #menu ul li a:hover span{ background-position-x: right;}
@media (min-width: 992px) {
    .header .nav #menu .detail{ height: 10px; width: 19px; display: block; background: url(../imgs/menu-tooltip.png) no-repeat left top; position: absolute; top: 54px; left: 107px; opacity: 0;}
    .header .nav #menu ul{ position: absolute; left: -88px; top: 64px; border: none; height: auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5); box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5);  opacity: 0;}
    .header .nav #menu ul li a{ height: 55px; padding-top: 15px;}
    .header .nav #menu ul li.home{ display: none !important;}
    .header .nav #menu ul li:last-child a{border-bottom: none; height: 57px;}
}
@media (min-width: 1200px) {
    .header .nav #menu .detail{ left: 142px;}
    .header .nav #menu ul{ left: -54px;}
}

/* GLOBAL > HEADER > USER MENU */
.header .nav #usermenu-ico{ display: block; z-index: 1060; width: 30px; height: 30px; margin: 16px 0; background: url(../imgs/user-ico.png) no-repeat center center; background-size: 90%; float: right; position: relative; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; overflow: hidden;}
.header .nav #usermenu-ico img{ width: 30px; height: 30px; position: absolute; top: 0; left: 0;}
.header .nav #usermenu-ico.active{ background: url(../imgs/menu-user-ico-fechar.png) no-repeat center center; background-size: 50%; position: fixed; right: 13px; top: -2px;}
.header .nav #usermenu-ico.active img{ opacity: 0;}
@media (min-width: 992px) {
    .header .nav #usermenu-ico{ margin-top: 28px; position: relative;}
}
.header .nav #menu-user{ position: fixed; overflow: auto; top: 0; right: -238px; width: 238px; height: 100%; z-index: 100; margin: 0; padding: 0; background-color: #f8f9f7; display: none; opacity: 0}
.header .nav #menu-user li{ list-style-type: none; margin: 0; padding: 0; }
.header .nav #menu-user li a{ background-color: #f8f9f7; font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #039ae4; display: block; height: 60px; margin:0; padding: 20px 0 0 0; border-bottom: solid 1px #d3d4d2;  border-right: solid 15px #f8f9f7;  border-left: solid 15px #f8f9f7; }
.header .nav #menu-user li a span{ display: block; width: 20px; height: 20px; overflow: hidden; margin: 0 12px 15px 0; background: url(../imgs/menu-user-ico-familia.png) no-repeat left top; float: left;}
.header .nav #menu-user li.ic span { background: url(../imgs/simbolo-ic.png) #f8f9f7 no-repeat 0 20px; background-size: 33px; display: block; height: 60px; margin:0; padding: 20px 0 0 0; border-bottom: solid 1px #d3d4d2; border-right: solid 15px #f8f9f7;  border-left: solid 15px #f8f9f7;  }
.header .nav #menu-user li.user{ background-color: #f8f9f7; display: block; height: 120px; margin:0; padding: 30px 0 0 0; border-bottom: solid 1px #d3d4d2;  border-right: solid 15px #f8f9f7;  border-left: solid 15px #f8f9f7; }
.header .nav #menu-user li.user .pic{ display: block; float: left; z-index: 20; width: 60px; height: 60px; margin: 0 15px; background: url(../imgs/user-ico.png) no-repeat center center; background-size: 90%; position: relative; -webkit-border-radius: 30px; -moz-border-radius:30px; border-radius: 30px; overflow: hidden;}
.header .nav #menu-user li.user .pic img{ width: 60px; height: 60px; position: absolute; top: 0; left: 0;}
.header .nav #menu-user li.user .meta{ margin-top: 12px;}
.header .nav #menu-user li.user .meta .name{ font-family: museo_slab700, Georgia, serif; font-size: 16px;}
.header .nav #menu-user li.user .meta a{font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px; display: block; height: auto; margin:0; padding: 0; border: none; }
.header .nav #menu-user li.my_tickets a span{ background-position-y: 0;}
.header .nav #menu-user li.my_info a span{ background-position-y: -21px;}
.header .nav #menu-user li.my_cards a span{ background-position-y: -41px;}
.header .nav #menu-user li a:hover{ color: #333; text-decoration: none;}
.header .nav #menu-user li.home a:hover{ background-color: #f8f9f7; border-left: solid 15px #f8f9f7; border-right: solid 15px #f8f9f7; }
.header .nav #menu-user li a:hover span{ background-position-x: right;}
@media (min-width: 992px) {
    .header .nav .user-menu-detail{ height: 8px; width: 19px; display: block; background: url(../imgs/menu-tooltip.png) no-repeat left top; position: absolute; top: 56px; right: 20px; opacity: 0;}
    .header .nav #menu-user{position: absolute; right: 0; top: 64px; border: none; height: auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5); box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5);}
    .header .nav #menu-user li a{ height: 55px; padding-top: 17px;}
    .header .nav #menu-user li.ic{ display: none !important;}
    .header .nav #menu-user li:last-child a{border-bottom: none; height: 57px;}
    .header .nav #menu-user li.user{ height: 100px;}
    .header .nav #menu-user li.user .pic{width: 38px; height: 42px; margin:0 12px 26px 12px; background: url(../imgs/user-ico-g.png) no-repeat left top; background-size: 90%; position: relative; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
    .header .nav #menu-user li.user .pic img{ display: none;}
    .header .nav #menu-user li.user .meta{ margin-top: 0;}
}
.header .nav .not_logged .btn{ color: #fff; font-family: museo_sans500, Arial, Helvetica, sans-serif; border: 1px solid #fff; padding: 13px 15px; text-transform: uppercase; border-radius: 0; margin: 20px 0; float: left; font-size: 12px; line-height: 12px;}
.header .nav .not_logged .btn:hover{ background-color: #fff; color:#106174; }
.header .nav .not_logged p{ font-size: 10px; font-family: museo_sans300, Arial, Helvetica, sans-serif; line-height: 14px; color: #fff; float: left; margin: 27px 0 0 10px;}
.header .nav .not_logged p a{ color: rgba(255, 255, 255, 0.7); font-family: museo_sans300_italic, Arial, Helvetica, sans-serif;}
.header .nav .not_logged p a:hover{}
@media (min-width: 1200px) {
    .header .nav .not_logged p{ font-size: 10px;}
}

/* GLOBAL > HEADER > LOGIN and SIGNUP */
.header .nav #loginsignup-ico{ display: block; z-index: 110; width: 30px; height: 30px; margin: 16px 0; background: url(../imgs/user-ico.png) no-repeat center center; background-size: 90%; float: right; position: relative; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; overflow: hidden;}
.header .nav #loginsignup-ico img{ width: 30px; height: 30px; position: absolute; top: 0; left: 0;}
.header .nav #loginsignup-ico.active{ background: url(../imgs/menu-user-ico-fechar.png) no-repeat center center; background-size: 50%; position: fixed; right: 13px; top: -2px;}
.header .nav #menu-loginsignup{ position: fixed; overflow: auto; top: 0; right: 0; width: 400px; height: 100%; z-index: 100; margin: 0; padding: 0; background-color: #f8f9f7; display:none; opacity: 0;}
.header .nav #menu-loginsignup .close{ display: none; opacity: 0; width: 40px; height: 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background-color: #000;font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 24px; color: #fff; text-align: center; line-height: 34px; cursor: pointer; position: fixed; right: 30px; top:30px; z-index:300; opacity: 1; float:none; }
@media (min-width: 992px){
    .header .nav #menu-loginsignup{ width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.9); position: fixed; z-index:100; top: 0; left: 0;}
    .header .nav #menu-loginsignup .close{ font-size: 32px; }
}

/* GLOBAL > HEADER > LOGIN */
.header .nav #menu-loginsignup #login{ background-image: url(../imgs/simbolo-ic.png); background-repeat: no-repeat; background-position: 15px 20px; background-size: 33px; padding-top: 60px; display:none; opacity: 0;}
.header .nav #menu-loginsignup #login h2{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 30px; color: #000; text-align: center; margin: 10px 0 30px 0;}
.header .nav #menu-loginsignup #login p{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 18px; color: #999;}
.header .nav #menu-loginsignup #login .btn.facebook{ width: 100%; height: 48px; margin-top: 10px; background: #4f70a8; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size:15px; color: #fff; text-align: left; line-height: 35px; text-align: center; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.header .nav #menu-loginsignup #login .btn.facebook img{ margin-right: 5px;}
.header .nav #menu-loginsignup #login .middle{ background:url(../imgs/login-ruler-hor.png) no-repeat center center; border-left: #f8f9f7 15px solid; border-right: #f8f9f7 15px solid; }
.header .nav #menu-loginsignup #login .middle span{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 13px; margin: 30px auto; color: #999; background: #eee; width: 36px; height: 36px; line-height: 36px; text-align: center; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; display: block; }
.header .nav #menu-loginsignup #login .hat{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px;}
.header .nav #menu-loginsignup #login input{ height: 48px; line-height: 48px; margin-bottom: 10px;}
.header .nav #menu-loginsignup #login input.btn{ float: left; background:#039ae4; width: 62px; color: #fff; font-size: 16px; line-height: 36px; }
.header .nav #menu-loginsignup #login .forgot{ float: left; font-family: museo_sans, Arial, Helvetica, sans-serif; font-size: 12px; color: #0072ae; line-height: 50px; font-style: italic; margin-left: 20px;}
.header .nav #menu-loginsignup #login .signup p{ font-family: museo_sans, Arial, Helvetica, sans-serif; font-size: 12px; color: #0072ae; line-height: 50px; font-style: italic; text-align: center;}
.header .nav #menu-loginsignup #login .signup p a{ text-decoration: underline;}
@media (min-width: 768px) {
    .header .nav #menu-loginsignup #login p{ text-align: right;}
    .header .nav #menu-loginsignup #login .middle{ background:url(../imgs/login-ruler.png) no-repeat center center;}
    .header .nav #menu-loginsignup #login .middle span{margin: 80px auto;}
    .header .nav #menu-loginsignup #login .hat{ text-align: left;}
}
@media (min-width: 992px){
    .header .nav #menu-loginsignup #login{ background-image: none; z-index: 200;}
    .header .nav #menu-loginsignup #login .container{ background-color: #f8f9f7; padding: 30px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
}

/* GLOBAL > HEADER > SIGNUP */
.header .nav #menu-loginsignup #signup{ background-image: url(../imgs/simbolo-ic.png); background-repeat: no-repeat; background-position: 15px 20px; background-size: 33px; padding-top: 60px; display:none; opacity:0;}
.header .nav #menu-loginsignup #signup h2{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 30px; color: #000; text-align: center; margin: 10px 0 30px 0;}
.header .nav #menu-loginsignup #signup p{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 18px; color: #999;}
.header .nav #menu-loginsignup #signup .btn.facebook{ width: 100%; height: 48px; margin-top: 10px; background: #4f70a8; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size:15px; color: #fff; text-align: left; line-height: 35px; text-align: center; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.header .nav #menu-loginsignup #signup .btn.facebook img{ margin-right: 5px;}
.header .nav #menu-loginsignup #signup .middle{ background:url(../imgs/login-ruler-hor.png) no-repeat center center; border-left: #f8f9f7 15px solid; border-right: #f8f9f7 15px solid; }
.header .nav #menu-loginsignup #signup .middle span{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 13px; margin: 30px auto; color: #999; background: #eee; width: 36px; height: 36px; line-height: 36px; text-align: center; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; display: block; }
.header .nav #menu-loginsignup #signup .hat{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px;}
.header .nav #menu-loginsignup #signup input{ height: 48px; line-height: 48px; margin-bottom: 10px;}
.header .nav #menu-loginsignup #signup input.btn{ float: left; background:#039ae4; width: 140px; color: #fff; font-size: 16px; line-height: 36px; }
.header .nav #menu-loginsignup #signup .login p{ font-family: museo_sans, Arial, Helvetica, sans-serif; font-size: 12px; color: #0072ae; line-height: 50px; font-style: italic; text-align: center;}
.header .nav #menu-loginsignup #signup .login p a{ text-decoration: underline;}
.header .nav #menu-loginsignup #signup label{ font-family: museo_sans300_italic, Arial, Helvetica, sans-serif; font-size: 12px; color: #999; margin: 15px 0 10px 0; }
.header .nav #menu-loginsignup #signup label input{ float: left; margin: 2px 10px 0 0; height: 12px; }
.header .nav #menu-loginsignup #signup label a{ color: #333;}
.header .nav #menu-loginsignup #signup #termstxt{ width: 100%; height: 200px; overflow-y: scroll; border: 1px solid #ccc; height: 0; margin-bottom: 15px; display: block; opacity: 0; padding: 10px;}
.header .nav #menu-loginsignup #signup #termstxt p{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333; text-align: left; }
@media (min-width: 768px) {
    .header .nav #menu-loginsignup #signup p{ text-align: right;}
    .header .nav #menu-loginsignup #signup .middle{ background:url(../imgs/login-ruler.png) no-repeat center center;}
    .header .nav #menu-loginsignup #signup .middle span{margin: 80px auto 270px auto;}
    .header .nav #menu-loginsignup #signup .hat{ text-align: left;}
}
@media (min-width: 992px){
    .header .nav #menu-loginsignup #signup{ background-image: none; z-index: 200;}
    .header .nav #menu-loginsignup #signup .container{ background-color: #f8f9f7; padding: 30px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
}

/* GLOBAL > HEADER > SOCIAL MEDIA PROFILES */
.header .nav #socials a{ display: block; width: 19px; height: 16px; float: left; margin: 23px 5px;}
@media (min-width: 992px) {
    .header .nav #socials a{ margin-top: 35px;}
}
@media (min-width: 1200px) {
    .header .nav #socials{ margin-left: 30px}
}
.header .nav #socials a.face{ background: url(../imgs/face-ico3.png) no-repeat center center; background-size: 19px 16px; margin-right:0;}
.header .nav #socials a.insta{ background: url(../imgs/insta-ico2.png) no-repeat center center; background-size: 19px 16px;}
.header .nav #socials a.twitter{ background: url(../imgs/twitter-ico2.png) no-repeat center center; background-size: 19px 16px;}

/* GLOBAL > SEARCH BAR FLYOUT and HOME > SEARCH BAR */
.header-flyout{ display: none; z-index: 150; position: fixed; width: 100%; top: 0; left: 0; }
.searchbar{ position: relative; background-color: rgba(0, 0, 0, 0.2);}
.header-flyout .searchbar{ background-color: rgba(0, 0, 0, 0);}
.searchbar .container{ padding-top: 18px; padding-bottom: 3px;}
.searchbar .form-group{ overflow: hidden; background-color: rgba(0, 0, 0, 0.2); padding-left: 30px;}
.searchbar input{ background-color: rgba(0, 0, 0, 0); color: #fff;  font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 15px; border: none; height: 48px; line-height: 38px;}
.searchbar .location{ background-image: url(../imgs/location-ico.png), url(../imgs/dropdown-ico.png); background-position: 14px 12px, 96% 19px; background-size: 16px, 18px; background-repeat: no-repeat; padding-left: 34px}
.searchbar .location select{ -webkit-appearance:none; background-color: rgba(0, 0, 0, 0); width: 107%; height: 48px; line-height: 42px; color: #fff; font-family: museo_sans300, Arial, Helvetica, sans-serif; box-shadow: none; font-size: 16px; border: none;}
.searchbar .query{ background-image: url(../imgs/search-ico.png); background-position: 14px 15px; background-repeat: no-repeat;}
.searchbar .submit{padding-left:0; }
.searchbar .submit:hover{ background: #fff; color: #000;}
.searchbar .submit input{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 16px; text-transform: uppercase; box-shadow: none; }
.searchbar .submit:hover input{ color: #333;}
.searchbar input:focus{ border: none; box-shadow: none;}
.searchbar input::-webkit-input-placeholder { color: #fff;}
.searchbar input:-moz-placeholder { /* Firefox 18- */ color: #fff;}
.searchbar input::-moz-placeholder {  /* Firefox 19+ */ color: #fff;}
.searchbar input:-ms-input-placeholder {color: #fff;}
.searchbar select option{ background-color: #000; color: #fff;}
.searchbar .calendar{ background: url(../imgs/calendar-ico.png) 10px 6px no-repeat; margin-top: 3px; background-size:28px; display: block; font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 13px; padding-left: 48px; padding-top: 10px; height: 51px; width: 120px; color: #fff; position: relative;}
.searchbar .calendar:hover{ cursor: pointer;}
.searchbar .drpoverlay{ position: fixed; width: 100%; height: 100%; top: 0; left: 0; background:rgba(0, 0, 0, 0.8); z-index: 130; display: none; opacity: 0;}
.searchbar .drptarget{ width: 100%; height: 2px; display: block;}
.searchbar .drpcontainer{ position: relative;}
.searchbar .drpcontainer .date-picker-wrapper{ padding: 0; border: 5px solid #eee; padding: 0; box-shadow: none; z-index: 150; }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; padding: 0; }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption{ background: #eee; height: 48px;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption th.month-name{ color: #106073; font-family: museo_sans900, Arial, Helvetica, sans-serif; text-transform: capitalize; font-size: 19px; letter-spacing: -1px;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption span{ background-image: url(../imgs/pagination-ico.png); background-repeat: no-repeat; width: 9px; height: 16px; margin: 0 auto; display: block; text-indent: -20px; overflow: hidden; padding: 0; border: 10px solid #eee; box-sizing: content-box;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption span.prev{ background-position: left top; }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption span.prev:hover{ background-position: left bottom; background-color: transparent; }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption span.next{ background-position: right top; }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.caption span.next:hover{ background-position: right bottom; background-color: transparent; }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.week-name{ height: 40px; width: 285px;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table thead tr.week-name th{ color: #666; font-family: museo_sans700, Arial, Helvetica, sans-serif; text-transform: lowercase; font-size: 12px; padding: 10px;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table tbody tr{  }
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table tbody tr td .day{ padding: 12px 0; font-family: museo_sans700, Arial, Helvetica, sans-serif; text-transform: lowercase; font-size: 14px;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table tbody tr td .day.checked, .searchbar .drpcontainer .date-picker-wrapper .month-wrapper table tbody tr td .day.hovering{ background-color: #eee; color: #039ae4;}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table tbody tr td .day.first-date-selected{ background: url(../imgs/calendar-detail2.png) #039ae4 no-repeat top right; padding-right: 6px}
.searchbar .drpcontainer .date-picker-wrapper .month-wrapper table tbody tr td .day.last-date-selected{ background: url(../imgs/calendar-detail2.png) #039ae4 no-repeat bottom left; padding-left: 6px}
.searchbar .drpcontainer .date-picker-wrapper .date-range-length-tip{ background-color: rgba(0, 0, 0, 0.8); color: #fff; padding: 2px 8px; font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 11px; }
.searchbar .drpcontainer .date-picker-wrapper .date-range-length-tip:after{ border-top-color: rgba(0, 0, 0, 0.8);}
.searchbar .drpcontainer .date-picker-wrapper .footer{ padding: 0;display: block; width: 35px; height: 20px; position: absolute; top: -25px; left: 15px; background: url(../imgs/calendar-detail.png); }
.searchbar #loginsignup-ico2{ display: block; width: 36px; height: 36px; margin-top: 6px; background: url(../imgs/user-ico.png) no-repeat center center; background-size: 36px 36px; float: left; position: relative; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; overflow: hidden;}
.searchbar #usermenu-ico2{ display: block; width: 36px; height: 36px; margin: 6px 0; background: url(../imgs/user-ico.png) no-repeat center center; background-size: 36px 36px; float: left; position: relative; -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px; overflow: hidden;}
.searchbar #usermenu-ico2 img{ width: 36px; height: 36px; position: absolute; top: 0; left: 0;}
.searchbar #menu-user2{ display: none; opacity: 0; position: absolute; overflow: auto; top: 58px; right: 0; width: 238px;border: none; height: auto; z-index: 100; margin: 0; padding: 0; background-color: #f8f9f7; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5); -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5); box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5);}
.searchbar #menu-user2 li{ list-style-type: none; margin: 0; padding: 0; }
.searchbar #menu-user2 li a{ background-color: #f8f9f7; font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; color: #039ae4; display: block; height: 55px; margin:0; padding: 17px 0 0 0; border-bottom: solid 1px #d3d4d2;  border-right: solid 15px #f8f9f7;  border-left: solid 15px #f8f9f7; }
.searchbar #menu-user2 li:last-child a{ border-bottom: none; height: 57px;}
.searchbar #menu-user2 li a span{ display: block; width: 20px; height: 20px; overflow: hidden; margin: 0 12px 15px 0; background-size: 90%; float: left; background: url(../imgs/menu-user-ico-familia.png) no-repeat left top;}
.searchbar #menu-user2 li.user{ background-color: #f8f9f7; display: block; height: 100px; margin:0; padding: 30px 0 0 0; border-bottom: solid 1px #d3d4d2;  border-right: solid 15px #f8f9f7;  border-left: solid 15px #f8f9f7; }
.searchbar #menu-user2 li.user .pic{ display: block; float: left; z-index: 20; width: 38px; height: 42px; margin:0 12px 26px 12px; background: url(../imgs/user-ico-g.png) no-repeat left top; background-size: 90%; position: relative; overflow: hidden;}
.searchbar #menu-user2 li.user .meta{ margin-top: 0;}
.searchbar #menu-user2 li.user .meta .name{ font-family: museo_slab700, Georgia, serif; font-size: 16px;}
.searchbar #menu-user2 li.user .meta a{font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px; display: block; height: auto; margin:0; padding: 0; border: none; }
.searchbar #menu-user2 li.my_tickets a span{ background-position-y: 0;}
.searchbar #menu-user2 li.my_info a span{ background-position-y: -21px;}
.searchbar #menu-user2 li.my_cards a span{ background-position-y: -41px;}
.searchbar #menu-user2 li a:hover{ color: #333; text-decoration: none;}
.searchbar #menu-user2 li.home a:hover{ background-color: #f8f9f7; border-left: solid 15px #f8f9f7; border-right: solid 15px #f8f9f7; }
.searchbar #menu-user2 li a:hover span{ background-position-x: right;}
.searchbar .user-menu-detail{ height: 8px; width: 19px; background: url(../imgs/menu-tooltip.png) no-repeat left top; position: absolute; top: 50px; right: 38px; opacity: 0; display: none;}
@media (min-width: 768px) {
    .searchbar .container{ padding-top: 23px; padding-bottom: 8px;}
    .searchbar .calendar{ width: 38px; height: 50px; overflow: hidden; background-size:32px; background-position: 10px 3px;}
    .searchbar .drpcontainer .date-picker-wrapper .footer{ left: inherit; right: 15px; }
}
@media (min-width: 992px) {
    .header-flyout{ display: block; top: -150px;}
    .header-flyout .logo a{display: block; margin: 0 auto;}
    .header-flyout .logo a img{float: left; width: 50px; margin-top: 5px; height: auto;}
}
@media (min-width: 1200px) {
    .searchbar .container{ padding-top: 45px; padding-bottom: 30px;}
    .searchbar .calendar{ width: 100%; height: 60px; overflow: hidden; background-size:38px; background-position: 0 0;}
    .header-flyout .searchbar .calendar{ width: 38px; margin: 3px auto; background-position: center 0;}
    .searchbar #loginsignup-ico2{ width: 40px; height: 40px; background-size: 40px 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; margin-top: 4px;}
    .searchbar #loginsignup-ico2 img{ width: 40px; height: 40px;}
    .searchbar #usermenu-ico2{ width: 40px; height: 40px; margin: 6px 0; background-size: 40px 40px; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px;}
    .searchbar #usermenu-ico2 img{ width: 40px; height: 40px;}
    .searchbar .user-menu-detail{ right: 54px;}
    .header-flyout .logo a img{ width: 60px; margin-top: 0;}
}

/* GLOBAL > FOOTER */
#footer h4{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 16px; color: #fff; text-align: left; float: left; margin: 0 0 10px; width: 100%;}
#footer .apps img{ width: 100%; max-width: 122px; height: auto; margin:10px 5px 0 0; float: left;}
#footer .sac{ padding-left: 32px; background: url(../imgs/sac-ico.png) no-repeat 0 1px; background-size: 25px auto;}
#footer .sac a, #footer .sac a:hover{ color: #fff; text-decoration: none;}
#footer .social{ float: left; width: 100%;}
#footer .social span{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 36px; color: #fff; width: 100%; float: left;}
#footer .social a:hover{ cursor: pointer;}
#footer .social .face{ background: url(../imgs/face-ico3.png) top left no-repeat; background-size: 24px auto; display: block; width: 35px; height: 24px; float: left; margin-top: 5px; }
#footer .social .insta{ background: url(../imgs/insta-ico2.png) top left no-repeat; background-size: 24px auto; display: block; width: 39px; height: 24px; float: left; margin-top: 5px; }
#footer .social .twitter{ background: url(../imgs/twitter-ico2.png) top left no-repeat; background-size: 24px auto; display: block; width: 35px; height: 24px; float: left; margin-top: 5px; }
#footer .sitemap{margin-top: 20px;}
#footer .sitemap hr{ margin: 0 15px 20px; border: none; border-top: 1px solid #222; }
#footer .sitemap ul{ list-style-type: none; margin: 0; padding: 0; width: 100%;}
#footer .sitemap ul li{ margin: 7px 0; float: left; width: 100%}
#footer .sitemap ul li a{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #666; text-align: left; display: block; width: 100%;}
#footer .sitemap .procon:hover{ cursor: pointer; }
#footer .sitemap .procon span{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #666; text-align: left; float: left; width: 100%; margin-top: 10px}
#footer .sitemap .procon img{ margin-top: 15px; height: auto; width: 120px; opacity: 0.4;}
@media (min-width: 768px) {
    #footer h4{ margin-right: 10px; font-size: 15px; line-height: 30px;}
    #footer .apps img{ margin:10px 15px 0 0; float: left;}
    #footer .social{ margin: 13px 0 0 0; }
    #footer .social .face, #footer .social .insta, #footer .social .twitter{ margin: 8px 0 0 2px;}
    #footer .social span{ font-size: 15px; width: auto; margin: 0 15px 0 0;}
    #footer .sitemap hr{ margin-bottom: 35px; }
    #footer .sitemap ul{ border-left: 1px solid #222; padding-left: 20px}
    #footer .sitemap ul.first{ border: none; padding-left: 0;}
    #footer .sitemap .procon{ border-left: 1px solid #222; padding-left: 20px}
}
@media (min-width: 992px) {
    #footer{ padding-top: 70px}
    #footer .apps h4{ margin: 5px 20px 0 0; font-size: 18px; width: 42%}
    #footer .apps img{ margin: 3px 15px 0 0; float: left; width: 23%}
    #footer .sac{ margin: 5px 0; font-size: 18px; width: 60%}
    #footer .social{ width: 40%; margin-top: 2px; float: right}
    #footer .social span{ font-size: 17px;}
    #footer .social .face, #footer .social .insta, #footer .social .twitter{ background-size: 21px 18px; display: block; width: 21px; height: 18px; margin: 8px 5px; }
    #footer .sitemap hr{ margin-top: 15px }
    #footer .sitemap ul{ border-left: 1px solid #333; padding-left: 20px}
    #footer .sitemap ul.first{ border: none; padding-left: 0;}
    #footer .sitemap .procon{ border-left: 1px solid #333; padding-left: 20px}
    #footer .sitemap ul li a{ font-size: 13px; line-height: 20px; }
    #footer .sitemap .procon span{ font-size: 13px; margin-top: 7px }
    #footer .legal{margin-top: 20px;}
    #footer .legal p{ margin: 15px; font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; color: #333; text-align: left;}
    #footer .legal hr{margin: 60px 15px 30px; border: none; border-top: 1px solid #222; }
}

/* HOME > HEADER > CAROUSEL */
.header .carousel .slides{ margin-top: 30px; width: 260px}
.header .carousel .slides .slide:first-child{ display: block;}
.header .carousel .slides .slide:hover, .header .carousel .slides .slide:visited{ text-decoration: none;}
.header .carousel .slides .slide .title{ font-family: museo_slab100, Georgia, serif; color: #fff; font-size: 30px; line-height: 32px; display: block; margin:0;}
.header .carousel .slides .slide .title-bold{ font-family: museo_slab700, Georgia, serif; color: #fff; font-size: 55px; line-height: 58px; display: block; margin:0;}
.header .carousel .slides .slide .description{ color: rgba(255, 255, 255, 0.7); font-family: museo_sans100, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 12px;}
.header .carousel .pagination{ width: 100%; height: 16px; margin: 10px 0 0;}
.header .carousel .pagination span{ display: block; float: left; padding: 0 3px 15px 3px;}
.header .carousel .pagination span:hover{ cursor: pointer;}
.header .carousel .pagination span a{ display: block; float: left; width: 10px; height: 16px; margin-right: 20px; background-image: url(../imgs/pagination-ico.png); background-repeat: no-repeat; }
.header .carousel .pagination .backward a{ background-position: left top; }
.header .carousel .pagination .backward:hover a{ background-position: left bottom; }
.header .carousel .pagination .forward a{ background-position: right top;}
.header .carousel .pagination .forward:hover a{ background-position: right bottom;}
@media (min-width: 768px) {
    .header .carousel .slides{ margin-top: 50px; width: 320px;}
    .header .carousel .slides .slide .title{ font-size: 34px; line-height: 35px; letter-spacing: -1px; }
    .header .carousel .slides .slide .title-bold{ font-size: 70px; line-height: 70px; letter-spacing: -3px; }
    .header .carousel .slides .slide .description{ font-size: 13px; line-height: 14px;}
    .header .carousel .pagination{ margin: 20px 0 50px 0;}
}
@media (min-width: 992px) {
    .header .carousel .slides{ margin-top: 80px; width: 420px;}
    .header .carousel .slides .slide .title{ font-size: 40px; line-height: 43px; letter-spacing: -1px; }
    .header .carousel .slides .slide .title-bold{ font-size: 90px; line-height: 89px; letter-spacing: -3px; }
    .header .carousel .slides .slide .description{ font-size: 16px; line-height: 16px;}
    .header .carousel .pagination{ margin: 30px 0 70px 0;}
}
@media (min-width: 1200px) {
    .header .carousel .slides{ margin-top: 80px; width: 520px;}
}

/* HOME > HEADER > INDICATIONS */
.header .indications{ margin: 40px 0 0 0; float: left; }
.header .indications .hat{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; color: #fff; float: left; display: block; width: 100%; margin-bottom: 20px;}
.header .indications .event{ float: left; width: 100%; margin-bottom: 40px;}
.header .indications .event:hover{ text-decoration: none;}
.header .indications .event .date{ width: 50px; height: 50px; border: solid 1px #fff; float: left; margin-right:10px;}
.header .indications .event .day{ float: left; display: block; width: 100%; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 19px; line-height: 19px; letter-spacing: -1px; color: #fff; text-align: center; font-weight: bold; margin-top: 8px;}
.header .indications .event .month{ float: left; display: block; width: 100%; font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; color: #fff; text-align: center; text-transform: uppercase;}
.header .indications .event .title{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 17px; color: #fff; margin-top: 5px; width: 60%; float: left;}
.header .indications .event .local{ font-family: museo_sans100, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 13px; color: rgba(255, 255, 255, 0.7); width: 60%; float: left; margin-top: 2px;}
@media (min-width: 768px) {
    .header .indications{ margin: 50px 0 40px 0; }
    .header .indications .hat{ font-size: 13px; line-height: 13px;}
    .header .indications .event{margin-bottom: 25px;}
    .header .indications .event .date{ width: 54px; height: 54px;}
    .header .indications .event .day{ font-size: 21px; line-height: 21px; letter-spacing: -1px; margin-top: 10px;}
    .header .indications .event .month{ font-size: 11px; line-height: 11px;}
    .header .indications .event .title{ font-size: 16px; line-height: 17px; width: 65%;}
    .header .indications .event .local{ font-size: 12px; width: 65%; }
}    
@media (min-width: 992px) {
    .header .indications{ margin: 90px 0 50px 0; }
    .header .indications .hat{ font-size: 14px; line-height: 14px; margin-bottom: 30px;}
    .header .indications .event{margin-bottom: 30px;}
    .header .indications .event .date{ width: 60px; height: 60px;}
    .header .indications .event .day{ font-size: 24px; line-height: 24px; letter-spacing: -2px; margin-top: 10px;}
    .header .indications .event .month{ font-size: 12px; line-height: 12px;}
    .header .indications .event .title{ font-size: 18px; line-height: 19px; width: 55%;}
    .header .indications .event .local{ font-size: 13px; width: 55%; }
}

/* HOME > CATEGORIES */
.content .categories{ padding-bottom: 30px; height: 400px; overflow: hidden; }
.content .categories h2{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 22px; color: #333; text-align: center; margin: 0 30px; padding: 30px 0 20px;}
.content .categories #categories-tab{ list-style-type: none; margin: 0; border-top: 1px solid #eaeaea; margin: 0 30px; padding: 44px 0 0 0; position: relative; height: 45px; overflow: hidden; }
.content .categories #categories-tab li{ width: 100%;}
.content .categories #categories-tab li.active{ position: absolute; top: 0; left: 0; display: block; }
.content .categories #categories-tab li a{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 16px; color: #666; text-align: center; width: 100%; display: block; border-bottom: 5px solid #eaeaea; height: 44px; line-height: 42px;}
.content .categories #categories-tab li.active a, .content .categories #categories-tab li a:hover{ text-decoration: none; color: #b7d22a; border-color: #b7d22a; cursor: pointer;}
.content .categories #categories-tab li a:focus{ text-decoration: none; }
.content .categories #categories-tab span{ display: block; background: url(../imgs/dropdown-ico.png) no-repeat right 15px; background-size: 18px; width: 50px; height: 44px; position: absolute; right: 0; top: 0; cursor: pointer; margin:0 10px; width:100%; }
.content .categories #categories-tab span.active{ background: url(../imgs/dropdown-ico-active.png) no-repeat right 15px; background-size: 18px;}
.content .categories .categories-content { display: none;}
.content .categories .categories-content.active { display: block;}
.content .categories .categories-content ul { margin-top: 20px; padding:0 30px;}
.content .categories .categories-content ul li{ list-style-type: none;}
.content .categories .categories-content ul li .event{ float: left; width: 100%; margin: 10px 0;}
.content .categories .categories-content ul li .event:hover{ text-decoration: none;}
.content .categories .categories-content ul li .event .date{ width: 50px; height: 50px; border: solid 1px #a3a3a3; float: left; margin-right:10px;}
.content .categories .categories-content ul li .event .day{ display: block; width: 100%; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 19px; line-height: 19px; letter-spacing: -1px; color: #9a9a9a; text-align: center; font-weight: bold; margin-top: 8px;}
.content .categories .categories-content ul li .event .month{ display: block; width: 100%; font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; color: #9a9a9a; text-align: center; text-transform: uppercase;}
.content .categories .categories-content ul li .event .title{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 17px; color: #333; letter-spacing: -1px; margin-top: 9px; float: left; width:69%;}
.content .categories .categories-content ul li .event .local{ font-family: museo_sans100, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 13px; color: #999; float: left; margin-top: 2px; width:69%;}
@media (min-width: 768px) {
    .content .categories{ height: 430px; }
    .content .categories h2{ font-size: 24px; padding: 35px 0 25px;}
    .content .categories #categories-tab {padding: 0 15px; height: 49px; margin:0; }
    .content .categories #categories-tab li, .content .categories #categories-tab li.active{ float: left; width: 20%; position: relative;}
    .content .categories #categories-tab li a{ font-size: 16px; height: 48px; line-height: 46px;}
    .content .categories #categories-tab span{ display: none;}
    .content .categories .categories-content ul { margin-top: 30px; padding:0;}
    .content .categories .categories-content ul .col-sm-6{ border-left: 1px solid #ccc;}
    .content .categories .categories-content ul .col-sm-6:first-of-type{ border-left: none;}
    .content .categories .categories-content ul li{ margin-left: 20px; }
    .content .categories .categories-content ul li .event{margin: 12px 0;}
    .content .categories .categories-content ul li .event .date{ width: 54px; height: 54px;}
    .content .categories .categories-content ul li .event .day{ font-size: 21px; line-height: 21px; letter-spacing: -1px; margin-top: 10px;}
    .content .categories .categories-content ul li .event .month{ font-size: 11px; line-height: 11px;}
    .content .categories .categories-content ul li .event .title{ font-size: 16px; line-height: 17px; width: 80%; margin-top: 12px}
    .content .categories .categories-content ul li .event .local{ font-size: 12px; width: 80%; }
}
@media (min-width: 992px) {
    .content .categories{ padding-bottom: 50px; height: 510px; }
    .content .categories h2{ font-size: 32px; padding: 40px 0 25px; }
    .content .categories #categories-tab { height: 51px; }
    .content .categories #categories-tab li a{ font-size: 18px; height: 50px; line-height: 48px;}
    .content .categories .categories-content ul { margin-top: 40px; padding:0;}
    .content .categories .categories-content ul li{ margin-left: 30px; }
    .content .categories .categories-content ul li .event{margin: 15px 0;}
    .content .categories .categories-content ul li .event .date{ width: 60px; height: 60px;}
    .content .categories .categories-content ul li .event .day{ font-size: 24px; line-height: 24px; letter-spacing: -2px; margin-top: 10px;}
    .content .categories .categories-content ul li .event .month{ font-size: 12px; line-height: 12px;}
    .content .categories .categories-content ul li .event .title{ font-size: 18px; line-height: 19px; width: 73%;}
    .content .categories .categories-content ul li .event .local{ font-size: 13px; width: 73%; }
}
@media (min-width: 1200px) {
    .content .categories{ padding-bottom: 50px; height: 550px; }
    .content .categories h2{ font-size: 35px; padding: 50px 0 35px; }
    .content .categories #categories-tab { height: 61px; }
    .content .categories #categories-tab li a{ font-size: 18px; height: 60px; line-height: 58px;}
}

/* HOME > FEATURED EVENTS */
.content .featured{ }
.content .featured h2{ border-top: 1px solid #eaeaea; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 22px; color: #333; text-align: center; margin: 0 15px; padding: 30px 0;}
.content .featured .featured_slides{ }
.content .featured .featured_slides ul{ list-style-type: none; margin: 0; padding: 0;}
.content .featured .featured_slides ul li{ margin: 0; padding: 0 15px 15px;}
.content .featured .featured_slides ul li a.event:hover, .content .featured .featured_slides ul li a.event:visited{ text-decoration: none; cursor: pointer;}
.content .featured .featured_slides ul li a.event .date{ width: 100%;}
.content .featured .featured_slides ul li a.event .date .day{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px; color: #9a9a9a; text-transform: uppercase;}
.content .featured .featured_slides ul li a.event .date .month{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 14px; color: #9a9a9a; text-transform: uppercase;}
.content .featured .featured_slides ul li a.event img{ width: 100%; height: auto; margin: 7px 0; }
.content .featured .featured_slides ul li a.event .label{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px; color: #9a9a9a; padding: 0; margin: 0; width: 100%; }
.content .featured .featured_slides ul li a.event .price{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 26px; line-height: 26px; color: #333; letter-spacing: -1px;}
.content .featured .featured_slides ul li a.event .price span{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 14px; color: #9a9a9a; margin-right: 5px;}
@media (min-width: 768px) {
    .content .featured{ border: 1px solid #eaeaea; padding: 30px; padding: 30px 15px; }
    .content .featured h2{ border-top: none; font-size: 24px; padding: 0 0 30px;}
    .content .featured p{}
    .content .featured .featured_slides ul{}
    .content .featured .pagination{ width: 100%; height: 16px; margin: 10px 0 0 0;}
    .content .featured .pagination span:hover{ cursor: pointer;}
    .content .featured .pagination span a{ display: block; float: left; overflow: hidden; text-indent: -100px; width: 10px; height: 16px; margin-right: 20px; background-image: url(../imgs/pagination-ico2.png); background-repeat: no-repeat; }
    .content .featured .pagination .backward a{ background-position: left top; }
    .content .featured .pagination .backward:hover a{ background-position: left bottom; }
    .content .featured .pagination .forward a{ background-position: right top;}
    .content .featured .pagination .forward:hover a{ background-position: right bottom;}
}
@media (min-width: 992px) {
    .content .featured{ padding-right: 0; }
    .content .featured h2{ text-align: left; font-size: 30px; margin: 0; padding: 0 0 15px 0;}
    .content .featured p{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 14px; color: #999;}
    .content .featured .featured_slides ul{}
    .content .featured .featured_slides ul li a.event img{  }
    .content .featured .featured_slides ul li{}
}@media (min-width: 1200px) {
    .content .featured{ }
    .content .featured h2{ text-align: left; font-size: 35px; line-height: 35px; margin: 0; padding: 0 0 20px 0;}
    .content .featured p{ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 16px; color: #999;}
    .content .featured .featured_slides ul li{}
}

/* HOME > AD */
.content .ad{}
.content .ad .ad_container{ height: 122px; background-color: #e5e5e5; margin: 50px 15px 0;}

/* HOME > PARTNERS */
.content .partners h2{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 22px; color: #333; text-align: center; margin: 0 30px; padding: 50px 0 20px;}
.content .partners ul{ list-style-type: none; margin: 0; padding: 0;}
.content .partners ul li{ float: left; width: 16.5%; height: auto; background-color: #fff; }
.content .partners ul li img{ width: 100%; height: auto; mix-blend-mode: luminosity; -webkit-blend-mode: luminosity; background-color: #fff;}
.content .partners ul li img:hover{ -webkit-blend-mode: normal; mix-blend-mode: normal; }
@media (min-width: 768px) {
    .content .partners h2{ font-size: 24px; padding: 35px 0 25px; }
}
@media (min-width: 992px) {
    .content .partners{ padding: 0 30px; position: relative;}
    .content .partners h2{ font-size: 32px; padding: 40px 0 25px; }
    .content .partners .pagination{}
    .content .partners .pagination span:hover{ cursor: pointer;}
    .content .partners .pagination span a{ display: block; position: absolute; overflow: hidden; text-indent: -100px; width: 10px; height: 16px; background-image: url(../imgs/pagination-ico2.png); background-repeat: no-repeat; }
    .content .partners .pagination .backward a{ background-position: left top; top: 125px; left: 20px; }
    .content .partners .pagination .backward:hover a{ background-position: left bottom; }
    .content .partners .pagination .forward a{ background-position: right top; top: 125px; right: 20px; }
    .content .partners .pagination .forward:hover a{ background-position: right bottom;}
}
@media (min-width: 1200px) {
    .content .partners h2{ font-size: 35px; padding: 50px 0 35px; }
    .content .partners .pagination .backward a{ top: 155px; left: 20px; }
    .content .partners .pagination .forward a{ top: 155px; right: 20px; }}

/* EVENT > HEADER */
.header .imgcontainer picture img{ width: auto; height: 100%; display: block; margin: 0 auto; max-width: 1200px;}
.header .headercontent .subtitle{ color: #fff; font-family: museo_slab100, Arial, Helvetica, sans-serif; font-size: 26px; line-height: 30px; margin:30px 0 0; display:block; }
.header .headercontent h1{ color: #01c7a3; font-family: museo_slab700, Arial, Helvetica, sans-serif; font-size: 55px; letter-spacing:-1px; line-height: 55px; margin:0; }
.header .headercontent ul.dates{ list-style-type: none; padding: 30px 0 10px; float: left; width: 100%;}
.header .headercontent ul.dates li.date{ border-width: 1px; border-style: solid; float:left; cursor: pointer; margin-right: 20px; margin-bottom: 20px; width: 18%; max-width: 62px; min-width: 36px;}
.header .headercontent ul.dates li.date .weekday{ border-bottom-width: 1px; border-bottom-style: solid; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 9px; line-height: 14px; text-transform: uppercase; text-align: center; width: 100%; padding: 3px 0; letter-spacing: 1px;}
.header .headercontent ul.dates li.date .day{ display: block; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 22px; line-height: 22px; letter-spacing: -1px; text-align: center; width: 100%; padding: 5px 0 0;}
.header .headercontent ul.dates li.date .month{ display: block; font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 10px; text-transform: uppercase; text-align: center; width: 100%; padding: 0 0 5px; letter-spacing: 1px;}
.header .headercontent ul.dates li.date:hover .weekday, .header .headercontent ul.dates li.date.selected .weekday{ color: #fff; background-color: #333;}
@media (min-width: 480px) {
    .header .imgcontainer picture img{ width: 100%; height: auto;}    
}
@media (min-width: 768px) {
    .header .imgcontainer picture img{ width: auto; height: 100%;}
    .header .headercontent .subtitle{ margin-top: 50px;}
}
@media (min-width: 992px) {
    .header .headercontent .subtitle{ margin-top: 75px;}
}
@media (min-width: 1200px) {
    .header .imgcontainer picture img{  width: 100%; height: auto;}
    .header .headercontent .subtitle{ margin-top: 100px;}
}

/* EVENT > COLUMNS */
@media (min-width: 768px) {
    .content .col-2{ padding-left: 40px; margin-top: -114px;}
    .content .col-1{ padding-top: 30px;}
}

/* EVENT > SHARE - Only visible below 768px width viewport */
.content #share a { font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #666; text-align: right; border-bottom: 1px solid #eee; padding: 15px 0; width: 100%; display: block;}
.content #share a img{ width: auto; height: 18px; padding: 0; margin: 0 0 0 7px; float: right;}

/* EVENT > META - Only visible below 768px width viewport */
.content #meta ul{ list-style-type: none; padding: 0; overflow: hidden; height: 80px; margin-bottom: 25px;}
.content #meta ul li{ width: 100%; float: left; margin-top: 20px; position: relative;}
.content #meta ul li:first-child{cursor: pointer;}
.content #meta ul li .controller{ background: url(../imgs/dropdown-ico.png) center center no-repeat; background-size: 18px auto; width: 18px; height: 100%; position: absolute; top: 0; right: 12px; display: block; }
.content #meta ul li .controller.active{ background: url(../imgs/dropdown-ico-active.png) center center no-repeat; background-size: 18px auto;}
.content #meta ul li .ico{ width: 60px; height: 60px; background-color: #f5f5f5; display: block; float: left; margin-right: 15px; background-position: center center; background-repeat: no-repeat; background-size: 36px auto; }
.content #meta ul li.local .ico{ background-image: url(../imgs/event-local-ico.png); }
.content #meta ul li.type .ico{ background-image: url(../imgs/event-type-ico.png); }
.content #meta ul li.class .ico{ background-image: url(../imgs/event-class-ico.png); }
.content #meta ul li.time .ico{ background-image: url(../imgs/event-time-ico.png); }
.content #meta ul li.producer .ico{ background-image: url(../imgs/event-producer-ico.png); }
.content #meta ul li .title{font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 20px; color: #333; text-align: left; display: block; margin-top: 5px;}
.content #meta ul li .description{font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #999; text-align: left; display: block;}

/* EVENT > META 2 - Only visible above 768px width viewport */
.content #meta2 { margin-bottom: 30px;}
.content #meta2 ul{ list-style-type: none; padding: 0; margin-bottom: 25px;}
.content #meta2 ul li{ width: 100%; float: left; margin-top: 20px; position: relative;}
.content #meta2 ul li.local{ border-bottom: 1px solid #ccc; padding-bottom: 20px; margin: 0;}
.content #meta2 .col-xs-12 .row .col-sm-12 .row:first-child{ margin: 0;}
.content #meta2 ul li.local div:first-child{ padding-left: 0;}
.content #meta2 ul li.local div:last-child{ padding-right: 0;}
.content #meta2 ul li:first-child{cursor: pointer;}
.content #meta2 ul li .ico{ width: 60px; height: 60px; background-color: #f5f5f5; display: block; float: left; margin-right: 15px; background-position: center center; background-repeat: no-repeat; background-size: 36px auto; }
.content #meta2 ul li.local .ico{ background-image: url(../imgs/event-local-ico.png); }
.content #meta2 ul li.type .ico{ background-image: url(../imgs/event-type-ico.png); }
.content #meta2 ul li.class .ico{ background-image: url(../imgs/event-class-ico.png); }
.content #meta2 ul li.time .ico{ background-image: url(../imgs/event-time-ico.png); }
.content #meta2 ul li.producer .ico{ background-image: url(../imgs/event-producer-ico.png); }
.content #meta2 ul li .title{font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 20px; color: #333; text-align: left; display: block; margin-top: 5px;}
.content #meta2 ul li .description{font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #999; text-align: left; display: block;}
.content #meta2 ul li a.share { font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #666; text-align: right; padding-top: 40px; width: 100%; display: block;}
.content #meta2 ul li a.share img{ width: auto; height: 18px; padding: 0; margin: 0 0 0 7px; float: right;}

/* EVENTS > TICKETS, INFORMATIONS and REQUIREMENTS */
.content #tickets.presales .hat{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 21px; line-height: 24px; letter-spacing: -1px; text-align: center; width: 100%; display: block;}
.content #tickets.sales_off .hat { font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 21px; line-height: 24px; letter-spacing: -1px; text-align: center; background-color: rgba(0, 0, 0, 0.8); margin-top: 15px; padding: 20px; width: 100%; float: left;}
.content #tickets.sales_on .hat { font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; text-align: left; background-color: rgba(0, 0, 0, 0.8); margin-top: 15px; padding: 20px 15px; width: 100%; float: left; color: #fff;}
.content #tickets.sales_on .hat .amount{ text-align: right; font-size: 18px; line-height: 21px; letter-spacing: -1px;}
.content #tickets.presales #timer { background-color: rgba(0, 0, 0, 0.8); margin-top: 15px; padding: 12px; width: 100%; float: left;}
.content #tickets.presales #timer .countdown-row{ width: 248px; margin: 0 auto; display: block;}
.content #tickets.presales #timer .countdown-row .countdown-section{ width: 62px; position: relative; float: left; padding-right: 4px;}
.content #tickets.presales #timer .countdown-row .countdown-section .countdown-amount{font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 32px; line-height: 40px; letter-spacing: -2px; text-align: center; display: block; width: 100%;}
.content #tickets.presales #timer .countdown-row .countdown-section .countdown-period{ display: inline; width: inherit; font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; text-transform: uppercase; letter-spacing: 0; text-align: center; display: block; width: 100%; }
/*.content #tickets.presales .timer .countdown-row .countdown-section .countdown-amount{ position: absolute; top: 7px; right: 0;font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 15px;}*/
.content #tickets form{ background-color: #f5f5f5; padding-bottom: 15px; margin-bottom: 25px; float: left; width: 100%; display: block;}
.content #tickets form h3{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 16px; line-height: 16px; color: #333; text-align: center; margin: 20px 0;}
.content #tickets form .form-group{ margin: 15px; border-bottom: 1px solid #ccc;}
.content #tickets form .form-group.name{ background: url(../imgs/presale-name-ico.png) 0 4px no-repeat; background-size: 22px}
.content #tickets form .form-group.mail{ background: url(../imgs/presale-mail-ico.png) 0 4px no-repeat; background-size: 22px}
.content #tickets form .form-group.submit{ border: none; background-color: #01a9ff; color: #fff; margin: 0 15px;}
.content #tickets form .form-group .form-control{ border: none; background-color: transparent; box-shadow: none; margin-left: 20px; padding-right: 20px;}
.content #tickets form .form-group.submit .form-control{ color: #fff; text-transform: uppercase; margin: 0; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 13px; height: 46px; padding: 15px;}
.content #tickets form .form-group input:focus{ border: none; box-shadow: none;}
.content #tickets form .form-group input::-webkit-input-placeholder { font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; color: #666;}
.content #tickets form .form-group input:-moz-placeholder { /* Firefox 18- */ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; color: #666;}
.content #tickets form .form-group input::-moz-placeholder {  /* Firefox 19+ */ font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; color: #666;}
.content #tickets form .form-group input:-ms-input-placeholder {font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 13px; color: #666;}
.content #tickets.sales_on form .row{ margin: 20px 0;}
.content #tickets.sales_on form .row .col-xs-8{padding-right: 10px;}
.content #tickets.sales_on form .row .col-xs-4{padding-left: 5px;}
.content #tickets.sales_on form .row .col-xs-5{padding-left: 0;}
.content #tickets.sales_on form .ticket_title{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 9px; line-height: 18px; text-align: left; display: block; color: rgba(255, 0, 0, 0.7); text-transform: uppercase; }
.content #tickets.sales_on form .ticket_titleBold{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 15px; letter-spacing: -1px; text-align: left; display: block; margin-bottom: 3px; }
.content #tickets.sales_on form .ticket_value{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; text-align: left; display: block; }
.content #tickets.sales_on form .ticket_obs{ font-family: museo_sans500_italic, Arial, Helvetica, sans-serif; font-size: 10px; line-height: 13px; text-align: left; display: block; margin-top: 15px; color: rgba(0, 0, 0, 0.6); }
.content #tickets.sales_on form .less{ cursor: pointer; display: block; width: 24px; height: 24px; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; border: 1px solid #01a9ff; color: #01a9ff; text-align: center; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; float: right; margin-top: 12px;}
.content #tickets.sales_on form .more{ cursor: pointer; display: block; width: 24px; height: 24px; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px; border: 1px solid #01a9ff; color: #01a9ff; text-align: center; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 21px; float: right; margin-top: 12px;}
.content #tickets.sales_on form .quant{ display: block; float: right; width: 9px; margin: 7px 8px 0 8px; padding: 0; border: none;}
.content #tickets.sales_on form .quant input{display: block; float: left; width: 25px; margin:0 auto; padding: 0; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 15px; letter-spacing: -1px;}
.content #tickets.sales_on form .row::after{ display: block; height: 1px; width: 92%; border-bottom: 1px solid #ccc; margin: 4%; padding-top: 20px; }
.content #tickets.sales_on form label{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 34px; text-align: left; color: rgba(0, 0, 0, 0.6); }
.content #tickets.sales_on form .promocode{ margin: 0; border: 1px solid #ccc;}
.content #tickets.sales_on form .promocode input{ background-color: #fff; margin: 0; text-transform: uppercase; padding: 6px 10px;}
.content #tickets.sales_on form #terms input{ float: left; margin: 1px 10px 15px 0}
.content #tickets.sales_on form #terms label{font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 14px; margin: 0; padding: 0; color: rgba(0, 0, 0, 0.5); text-decoration: underline;}
.content #tickets.sales_on form .form-group input::-webkit-input-placeholder { color: #aaa;}
.content #tickets.sales_on form .form-group input:-moz-placeholder { /* Firefox 18- */ color: #aaa;}
.content #tickets.sales_on form .form-group input::-moz-placeholder {  /* Firefox 19+ */ color: #aaa;}
.content #tickets.sales_on form .form-group input:-ms-input-placeholder {color: #aaa;}
@media (min-width: 768px) {
    .content #tickets.sales_off{ margin-top: 35px; }
    .content #tickets.sales_on{ margin-top: 17px; }
}
@media (min-width: 992px) {
    .content #tickets.sales_on{ margin-top: 36px; }
    .content #tickets.sales_on .hat { font-size: 16px; line-height: 23px;}
    .content #tickets.sales_on .hat .amount{ font-size: 20px; line-height: 23px;}
    .content #tickets.sales_on form .ticket_title{ font-size: 10px; line-height: 18px;}
    .content #tickets.sales_on form .ticket_titleBold{ font-size: 14px; line-height: 15px; margin-bottom: 3px; }
    .content #tickets.sales_on form .ticket_value{ font-size: 13px; line-height: 15px; }
    .content #tickets.sales_on form .ticket_obs{ font-size: 10px; line-height: 13px; margin-top: 15px;}
    
}
@media (min-width: 1200px) {
    .content #tickets.sales_on form .ticket_title{ font-size: 11px; line-height: 20px;}
    .content #tickets.sales_on form .ticket_titleBold{ font-size: 16px; line-height: 20px; margin-bottom: 3px; }
    .content #tickets.sales_on form .ticket_value{ font-size: 14px; line-height: 20px; }
    .content #tickets.sales_on form .ticket_obs{ font-size: 11px; line-height: 14px; margin-top: 15px;}
}
.content #tickets .info .title{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #333; text-align: left; margin: 0 0 5px; width: 100%; display: block;}
.content #tickets .info .description{font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 17px; line-height: 17px; color: #999;}
.content #tickets .info .sms{ padding-left: 24px;  margin: 0 10px 0 0; display: block; background: url(../imgs/sms-notification-ico.png) no-repeat top left; background-size: auto 28px; border-right: 1px solid #ddd; padding-right: 10px; float: left;}
.content #tickets .info .app{ padding-left: 24px; margin: 0 0 0; display: block; background: url(../imgs/app-notification-ico.png) no-repeat top left; background-size: auto 28px; float: left;}
.content #tickets .info .sms span, .content #tickets .info .app span{font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 28px; color: #333; text-align: left; width: 100%; display: block;}
.content #tickets .requirements{ margin-top:20px; position: relative; overflow: hidden; }
.content #tickets .requirements .title{border-top: 1px solid #ccc; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #333; text-align: left; padding: 20px 0; width: 100%; display: block;}
.content #tickets .requirements .description{ margin: 0 0 20px 0;}
.content #tickets .requirements .description p{font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 17px; color: #666; text-align: left;}
.content #tickets .requirements .controller{ background: url(../imgs/dropdown-ico.png) 0 26px no-repeat; background-size: 18px auto; width: 18px; height: 100%; position: absolute; top: 0; right: 25px; display: block; }
.content #tickets .requirements .controller.active{ background: url(../imgs/dropdown-ico-active.png) 0 26px no-repeat; background-size: 18px auto;}
@media (min-width: 768px) {
    .content #tickets .hat{ color: #fff !important;}
    .content #tickets .timer { background-color: rgba(0, 0, 0, 0.5);}
    .content #tickets .timer .timer_container div .number{ font-size: 40px; line-height: 40px;}
    .content #tickets .timer .timer_container div .dots{ top: 12px;}
    .content #tickets form h3{ font-size: 20px; line-height: 20px;}
    .content #tickets .info .sales_end{ border-bottom: 1px solid #ccc; padding-bottom: 25px; margin-bottom: 25px;}
    .content #tickets .info .title{ font-size: 20px; line-height: 24px; margin-bottom: 15px; }
    .content #tickets .info .description{ font-family: museo_sans100, Arial, Helvetica, sans-serif; font-size: 24px; line-height: 24px;}    .content #tickets .info .get_tickets{ border: 1px solid #ccc; padding: 15px; float: left; width: 100%;}
    .content #tickets .info .sms, .content #tickets .info .app{ padding-left: 47px; width: 47%; float: left; background-size: auto 40px; height: 40px;}
    .content #tickets .info .sms span, .content #tickets .info .app span{ font-size: 18px; line-height: 18px; margin-top: 6px;}
    .content #tickets .info .sms span.hidden-xs, .content #tickets .info .app span.hidden-xs{  font-family: museo_sans300, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 11px; color: #999; margin-top: 0;}
    .content #tickets .requirements .title{ font-size: 20px; line-height: 24px; border: none;}
    .content #tickets .requirements .description p{ font-size: 12px; line-height: 18px;}
}

/* EVENTS > RSVP */
.content #rsvp{ border: 1px solid #ccc; margin:0; padding-bottom: 17px;}
.content #rsvp h4{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #333; text-align: left; letter-spacing: -1px; margin: 15px 0 10px;}
.content #rsvp p{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #999; text-align: left;}
.content #rsvp .btn{ border: 1px solid #333; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #333; background-image: url(../imgs/face-ico4.png); background-repeat: no-repeat; background-position: 17px center; background-size: 9px; padding: 13px 0 12px 0; width: 100%; text-indent: 15px;}
.content #rsvp .face_friends_list{ margin: 0;}
.content #rsvp .face_friends_list h4{ margin: 15px -15px 10px -15px;}
.content #rsvp .face_friends_list .face_friends{ padding: 1px}
.content #rsvp .face_friends_list .face_friends a{ background-color: #222; display: block;}
.content #rsvp .face_friends_list .face_friends a img{ position: relative; width: 100%; height: auto;}

/* EVENTS > GALLERY */
.content #gallery{ margin-top: 20px; }
.content #gallery h4{ font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #333; text-align: left; letter-spacing: -1px; margin: 5px 0; cursor: pointer;}
.content #gallery h5{font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; color: #999; text-align: left; margin: 0 0 5px; cursor: pointer;}
.content #gallery .contentContainer{ display: none; opacity: 0;}
.content #gallery .contentContainer.active{ display: block; opacity: 1;}
.content #gallery .video-title{ border-right: 1px solid #ccc;}
.content #gallery .active .indicator{ background: url(../imgs/content_indicator.png) no-repeat left top; display: block; width: 10px; height: 7px; }
.content #gallery .canvas{ margin-top: 20px;}
.content #gallery .canvas .embed-container{ position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; background: url(../imgs/loading.svg) #222 center center no-repeat; }
.content #gallery .canvas .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100% !important;}
.embed-container #player{ position: relative;}
.content #gallery #instagram .canvas{ background: url(../imgs/loading.svg) #222 center center no-repeat; padding-bottom: 100%; height: 0; width: 100%; overflow: hidden; position: relative;}
.content #gallery .canvas img{ width: 100%; height: auto; position: absolute; bottom: 0; left: 0;}
.content #gallery .thumbs{ margin-top: 15px; float: left;}
.content #gallery .thumbs ul { list-style-type: none; padding: 0; margin: 0; float: left;}
.content #gallery .thumbs ul li{ padding: 2px}
.content #gallery .thumbs ul li img{ width: 100%; height: auto;}

/* EVENTS > DESCRIPTION */
.content #description{ margin-top: 20px;}
.content #description h5{ border-top: 3px solid #ccc; font-family: museo_sans700, Arial, Helvetica, sans-serif; font-size: 15px; line-height: 18px; color: #333; text-align: left; letter-spacing: -1px; padding-top: 15px}
.content #description p{ font-family: museo_sans500, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 21px; color: #999; text-align: left; padding-top: 15px}
.content #description p strong{ font-family: museo_sans700, Arial, Helvetica, sans-serif; color: #333;}